body { 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.postCard {
  min-width: 800px;
}

a:focus,
a:active,
a:hover,
a:visited,
a:link,
i:focus,
i:active,
i:hover,
.noDec {
  text-decoration: none;
}